= simple_form_for team do |f|
  = f.input :captain_id, input_html: { value: current_user.id }, as: :hidden
  = f.input :name
  = f.input :location
  = f.input :photo
  %p
    = f.input :experience_level, as: :radio_buttons, collection: ["Beginner","Intermediate","Advanced","Awesome"]
  = f.simple_fields_for :team_sports do |g|
    = g.input :sport_id, label: "Sport", collection: Sport.all, as: :check_boxes, include_blank: false,as: :radio_buttons
  = f.input :league_name
  = f.input :league_url
  = f.input :team_type
  = f.input :year_founded
  = f.input :achievements
  = f.input :availability, as: :check_boxes, collection: ["Monday night","Tuesday night","Wednesday night","Thursday night","Friday night","Saturday morning","Sunday afternoon","Saturday evening","Sunday morning","Sunday afternoon","Sunday evening"]
  = f.submit
