.object_list
  - teams.each do |team|
    - if !team.photo.url.include? "default"
      = link_to "#{image_tag(team.photo.thumb.url, title: team.name, alt: team.name)}<div class='inline_box'><div class='thumb_name'>#{team.name}</div><div class='icon'>#{team.icon ? image_tag(team.icon, title: team.sports.first.name, width: 25, height: 25) : ''} #{team.captain_id == current_user.id ? ' <b>C</b>' : ''}</div></div>".html_safe, team_path(team)
    - else
      = link_to "#{team.name} #{team.icon ? image_tag(team.icon, title: team.sports.first.name, width: 25, height: 25) : ''} #{team.captain_id == current_user.id ? ' <b>C</b>' : ''}".html_safe, team_path(team)
