%h2.name=@team.name
.image=image_tag(@team.photo.small.url)
=link_to "Edit my team info", edit_team_path(@team) if can? :edit, @team
.location Location: #{@team.location}
.sport Sport: #{@team.sports.map(&:name).to_sentence}
.type Team Type: #{@team.team_type}
.year Year Founded: #{@team.year_founded}
.experience_level Experience Level: #{@team.experience_level}
.achievements Achievements: #{@team.achievements}
.availability Games Played: #{@team.availability.to_sentence}
- if @team.league_url
  .league League: #{link_to @team.league_name, @team.league_url}
- if @team.games.present?
  .games
    %h3 Games
    %ul
      - @team.games.each do |game|
        %li
          = link_to game.title, game_path(game)
.roster
  %h3 Captain: #{link_to @team.captain.name, user_path(@team.captain)}
  %h3 Roster
  = render "users/list", users: @team.member_users
  = render "players/list", players: @team.players

- if can? :edit, @team
  - if @team.pending_users.present?
    %h3 Pending players
    %ul
      - @team.pending_users.each do |user|
        %li
          = link_to user.name, user_path(user)
          (#{link_to "Approve", user_approve_path(user, team_id: @team.id)})

  = link_to "Invite new players to my team", new_user_invitation_path(team_id: @team.id)
  %br
  = link_to "Add a new game", new_team_game_path(@team.id)
  - if can? :email, @team
    = link_to "Email your team", team_email_path(@team)
  .add_player
    %h3 Add a new non-user player
    = simple_form_for [@team, @team.players.build] do |f|
      = f.input :name
      = f.input :team_id, as: :hidden, input_html: { value: @team.id }
      = f.submit
  = link_to "Delete team", team_path(@team), confirm: "Are you sure?", method: :delete
- unless @team.users.include? current_user
  = link_to "Join this team", team_join_path(@team)
- else
  - unless @team.captain.id == current_user.id
    = link_to "Leave team", user_team_path(current_user, @team), confirm: "Are you sure?", method: :delete
