%h3 Suggest a League
= simple_form_for League.new, remote: remote do |f|
  = f.hidden_field :pending, value: true
  = f.input :name
  = f.input :url, label: "URL"
  = f.input :location
  = f.input :description
  = f.submit "Suggest League"
