%p.bio
  = f.input :name, label: "Name"
  = f.input :gender, as: :radio_buttons, collection: ["Male","Female"]
  = f.input :photo
  = f.input :bio
  = f.input :email, :required => true, :autofocus => true
  = f.input :phone
  = f.input :city, label: "Location", as: :select, collection: Game::LOCATIONS
  = f.input :state
  = f.input :achievements
