%h2 Edit Athletic Info
(profile will automatically update when you make changes)
= simple_form_for @user, remote: true do |f|
  %p.sports
    %p.sports_picker
      .inline_box
        - Sport.all.map(&:name).each do |sport|
          %div{id: "sport_#{sport}"}
            = link_to "#{image_tag("/assets/#{sport.downcase}.png")}<br><span class='sports_picker'>#{sport}</span>".html_safe, "#", class: 'pick_sport', id:"#{sport}", "data-selected" => false
      %ul.position_chooser
        = f.simple_fields_for :user_sports do |g|
          %li
            %b= g.object.sport.name
            %p
              = g.input :sport_id, as: :hidden
              = g.input :position, collection: g.object.sport.positions, as: :check_boxes, include_hidden: false, include_blank: false, label: false
    %p
      = f.input :experience_level, as: :radio_buttons, collection: ["Beginner","Intermediate","Advanced","Awesome"]
    %p
      = f.input :availability, as: :check_boxes, collection: ["Monday night","Tuesday night","Wednesday night","Thursday night","Friday night","Saturday morning","Sunday afternoon","Saturday evening","Sunday morning","Sunday afternoon","Sunday evening"]
    = f.input :distance_to_travel, label: "Distance willing to travel"
    .teams
      = f.label "Request to Join Team"
      = f.autocomplete_field :teams, autocomplete_team_name_users_path, id_element: '#user_team_ids', value: ""
      = f.association :teams, as: :hidden
    .inline_box
      = f.label "I want to join a team"
      = f.input :desire_to_join, label: false, as: :boolean
    .inline_box
      = f.label "Allow others to contact me"
      = f.input :privacy_toggle, label: false, as: :boolean
  = link_to "View Updated Profile", '.'
