- if @team_id
  .invframe{'data-src' => new_user_invitation_path(team_id: @team_id)}
%table.datatable
  %thead
    %tr
      %th Name
      %th Gender
      %th Location
      %th Sports and Positions
      %th Experience Level
      %th Distance Willing to Travel
      %th Looking for a Team?
      %th Availability
  -User.where(privacy_toggle: true).each do |user|
    %tr
      %td= render user
      %td=user.gender
      %td=user.city
      %td
        %table
          - user.user_sports.each do |user_sport|
            %tr
              %td #{image_tag "#{user_sport.sport.name.downcase}.png", alt: user_sport.sport.name, title: user_sport.sport.name, width: 36, height: 36} #{user_sport.sport.name}#{user_sport.position.present? ? ": #{user_sport.position.try(:flatten).try(:to_sentence)}" : ""}
      %td=user.experience_level.html_safe
      %td=user.distance_to_travel
      %td=user.desire_to_join ? "Yes" : "No"
      %td=user.availability.to_sentence.gsub("Monday","Mon").gsub("Tuesday","Tues").gsub("Wednesday","Wed").gsub("Thursday","Thurs").gsub("Friday","Fri").gsub("Saturday","Sat").gsub("Sunday","Sun").gsub("morning","AM").gsub("night","PM").gsub("evening","PM")
