%h2.name= @user.name
.image= image_tag(@user.photo.small.url)
.bio
  %h3 Personal Info
  = link_to "Edit my personal info", edit_user_registration_path if current_user == @user
  .gender Gender: #{@user.gender}
  .bio Bio: #{@user.bio}
  .city City: #{@user.city}
  .achievements Achievements: #{@user.achievements}
.sports
  %h3 Athletic Info
  = link_to "Edit my athletic info", edit_user_path(@user) if current_user == @user
  - if @user.member_teams.present?
    .team
      %h4 Teams
      = render 'teams/list', teams: @user.member_teams
  - if @user.pending_teams.present?
    .pending_teams
      %h4 Pending Teams
      = render 'teams/list', teams: @user.pending_teams
  %p
  .sport Sports: #{@user.sports.to_sentence}
  .position Position: #{@user.position.to_sentence}
  .experience_level Experience Level: #{@user.experience_level}
  .availability Availability: #{@user.availability.to_sentence}
  .distance_to_travel Distance Willing to Travel: #{@user.distance_to_travel}
  .desire_to_join Team Status: #{@user.desire_to_join ? "Looking for a team" : "All set"}
  .privacy_toggle Contact Me?: #{@user.privacy_toggle ? "Yes" : "Do not disturb"}
