%h2.name= @user.name
- if current_user && !(@user.id == current_user.id)
  - if (captainships = Team.where(captain_id: current_user.id).to_a).present?
    - captainships.each do |team|
      - unless team.users.include? @user
        %form{action: user_invitation_path(user_id: @user.id, invited_to_id: team.id), method: :post}
          %input{type: :submit, value: "Invite #{@user.name} to #{team.name}"}
          %input{type: :hidden, value: form_authenticity_token, name: "authenticity_token"}
.image= image_tag(@user.photo.small.url)
.bio
  %h3 Personal Info
  = link_to "Edit my personal info", edit_user_registration_path if current_user == @user
  .gender Gender: #{@user.gender}
  .bio Bio: #{@user.bio}
  .city Location: #{@user.city}
  .city State: #{@user.state}
  .achievements Achievements: #{@user.achievements}
.sports
  %h3 Athletic Info
  = link_to "Edit my athletic info", edit_user_path(@user) if current_user == @user
  - if @user.member_teams.present?
    .team
      %h4 Teams
      = render 'teams/list', teams: @user.member_teams
  - if @user.pending_teams.present?
    .pending_teams
      %h4 Pending Teams
      = render 'teams/list', teams: @user.pending_teams
  %p
    %table
      - @user.user_sports.each do |user_sport|
        %tr
          %td= image_tag "#{user_sport.sport.name.downcase}.png", width: 25, height: 25
          %td #{user_sport.sport.name}#{user_sport.position.present? ? ": #{user_sport.position.try(:flatten).try(:to_sentence)}" : ""}
          %td.experience_level Experience Level: #{user_sport.experience_level}
  .availability Availability: #{@user.availability.to_sentence}
  .distance_to_travel Distance Willing to Travel: #{@user.distance_to_travel}
  .desire_to_join Team Status: #{@user.desire_to_join ? "Looking for a team" : "All set"}
  .privacy_toggle Contact Me?: #{@user.privacy_toggle ? "Yes" : "Do not disturb"}
