%h2.name= @user.fullname
.image= image_tag(@user.photo.url)
.bio
  = link_to "Edit", edit_user_registration_path if current_user == @user
  .gender= @user.gender
  .bio= @user.bio
  .city= @user.city
  .achievements= @user.achievements
.sports
  = link_to "Edit", edit_user_path(@user) if current_user == @user
  .sport= @user.sports
  .position= @user.position
  .experience_level= @user.experience_level
  .availability= @user.availability.to_sentence
  .distance_to_travel= @user.distance_to_travel
  .desire_to_join= @user.desire_to_join ? "Looking for a team" : "All set"
  .privacy_toggle= @user.privacy_toggle ? "Wants to be contacted" : "Do not disturb"
