
%h2= @user.fullname
= image_tag(@user.photo.url)
.bio
  - if current_user == @user
    = link_to "Edit", edit_user_path(@user)
  %p
    = @user.gender
    = @user.bio
    = @user.city
    = @user.achievements
.sports
  - if current_user == @user
    = link_to "Edit", edit_user_registration_path
  %p
    = @user.sports
    = @user.position
    = @user.experience_level
    = @user.availability
    = @user.distance_to_travel
    = @user.privacy_toggle ? "Wants to be contacted" : "Do not disturb"
    = @user.desire_to_join ? "Looking for a team" : "All set"
