%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .inputs
    = render "users/form", f: f
    = f.input :sports, as: :check_boxes, collection: ["Basketball", "Baseball", "Kickball", "Soccer", "Softball"]
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
  .actions
    = f.submit "Sign up"
= render :partial => "devise/shared/links"
