= simple_form_for @game do |f|
  = f.input :location, :input_html =>{:id => 'gmaps-input-address'}
  = f.input :start, as: :ui_date_picker
  - if @team.present?
    = f.input :team_id, as: :hidden, input_html: { value: @team.id }
    Team: #{@team.name}
  - else
    = f.input :team_id, collection: current_user.member_teams, include_blank: false, value_method: :id
  = f.input :vs_team_id, as: :hidden
  = f.label "Versus:"
  = f.autocomplete_field :vs_team, autocomplete_team_name_games_path, id_element: '#game_vs_team_id', value: ""
  -# = f.input :public, as: :boolean, label: "Public game"
  = f.input :creator_id, as: :hidden, input_html: { value: current_user.id }
  = f.submit
