.game_show
  %h2=@game.title
  %h3 #{@game.start} to #{@game.end}
  - if @game.location.present?
    =@game.location
    #map-canvas
  %h3 Team
  = render @game.team, icon: true
  - if @game.vs_team
    Versus:
    = render @game.vs_team, icon: true
  .players
    %h3 Players
    = render "users/list", users: @game.users
  - unless @game.users.include? current_user
    = link_to "Play in this game", game_join_path(@game)
