%h2= t 'devise.invitations.edit.header'
= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token
  = f.input :fullname, label: "Name"
  = f.input :gender, as: :radio, collection: ["Male","Female"]
  = f.input :city
  = f.input :sports, label: "Sport", as: :radio, collection: ["Basketball", "Baseball", "Kickball", "Soccer", "Softball"]
  = f.input :password
  = f.input :password_confirmation
  = f.submit t("devise.invitations.edit.submit_button")
