!!!
%html
  %head
    %title Wavrr
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ1M9CIeCufVkulo1zYFtJ-xZsYJD81sM&sensor=true"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Gudea'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"
    = csrf_meta_tags
  %body
    .header
      .logo
        = link_to image_tag("logo.jpg", class: 'logo'), "/", class: 'logo'
      .menu
        =link_to "About", "/about"
        - unless current_user
          = link_to "Join", new_user_registration_path
        - else
          = link_to "Profile", user_path(current_user)
        = link_to "Teams", teams_path
        = link_to "Players", users_path
        = link_to "Games", games_path
        = link_to "Leagues", leagues_path
      .login
        - unless current_user
          = link_to "Log in", new_user_session_path
        - else
          = link_to "Log out", destroy_user_session_path
    .content
      %p.notice
        = notice
      %p.alert
        = alert
      = yield
